body {
  margin: 0;
  line-height: 1.5;
}

@keyframes Scale {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
    transform: translateY(-20px);
  }
}
@keyframes Fly {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes Animate {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.section-top-page {
  background-image: url("../image/background_macbook.jpg");
  padding: 51px 22% 240px;
  background-size: cover;
  position: relative;
}
.section-top-page .header .header-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-top-page .header .header-head .menu {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.section-top-page .header .header-head .menu:hover {
  background-color: #80808047;
}
.section-top-page .header .header-head .menu .nav-button {
  font-size: 25px;
  cursor: pointer;
  margin-left: 20px;
}
.section-top-page .header .header-head .menu span {
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.section-top-page .header .header-head .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111111e6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: block;
  text-align: center;
}
.section-top-page .header .header-head .sidenav a {
  margin-bottom: 20px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.section-top-page .header .header-head .sidenav a:hover {
  color: #f1f1f1;
}
.section-top-page .header .header-head .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.section-top-page .toppage-content .title {
  padding-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-top-page .toppage-content .title .title-content {
  font-size: 70px;
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  margin: 0;
}
.section-top-page .toppage-content .title .title-content span {
  font-size: 70px;
  font-family: "Open Sans";
  color: #f7600e;
  font-weight: bold;
}
.section-top-page .toppage-content .toppage-content-details {
  padding: 0 15%;
  margin-top: 20px;
}
.section-top-page .toppage-content .toppage-content-details p {
  font-size: 25px;
  font-family: "Open Sans";
  color: white;
  text-align: center;
}
.section-top-page .toppage-content .toppage-content-button {
  text-align: center;
  margin-top: 72px;
}
.section-top-page .toppage-content .toppage-content-button a {
  border-radius: 10px;
  font-size: 16px;
  font-family: "Open Sans";
  cursor: pointer;
  text-decoration: none;
}
.section-top-page .toppage-content .toppage-content-button .hire-us {
  padding: 19px 77px;
  background-color: #f7600e;
  color: white;
  margin-right: 10px;
  border: none;
}
.section-top-page .toppage-content .toppage-content-button .hire-us {
  background: linear-gradient(135deg, #fff 50%, #f7600e 50%);
  position: relative;
}
.section-top-page .toppage-content .toppage-content-button .hire-us:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(135deg, #f7600e 50%, #fff 50%);
  z-index: -1;
}
.section-top-page .toppage-content .toppage-content-button .hire-us,
.section-top-page .toppage-content .toppage-content-button .hire-us:after {
  background-size: 300%;
  background-position: 100%;
  transition: 0.8s;
}
.section-top-page .toppage-content .toppage-content-button .hire-us:hover,
.section-top-page .toppage-content .toppage-content-button .hire-us:hover:after {
  background-position: 0;
  color: #f7600e;
}
.section-top-page .toppage-content .toppage-content-button .our-works {
  padding: 19px 60px;
  background-color: transparent;
  color: white;
  border: 1px solid gray;
}
.section-top-page .toppage-content .toppage-content-button .our-works:hover {
  background-color: white;
  color: black;
}
.section-top-page .toppage-content .button-more {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.section-top-page .toppage-content .button-more i {
  color: white;
  border: 1px solid white;
  padding: 5px 7px;
  border-radius: 40px;
  cursor: pointer;
}
.section-top-page .toppage-content .button-more i:hover {
  background: gray;
}

.section-description {
  padding: 100px 20% 100px;
  display: flex;
  justify-content: space-around;
  line-height: 2;
}
.section-description .description-element {
  text-align: center;
  margin: 0 30px;
}
.section-description .description-element .image {
  border: 1px solid gainsboro;
  border-radius: 50%;
  padding: 42px;
  width: 30%;
  margin-left: 50%;
  transform: translateX(-50%);
  box-sizing: unset;
}
.section-description .description-element .image img {
  height: 58px;
  width: 50px;
}
.section-description .description-element .title-content {
  font-size: 16px;
  font-family: "Open Sans";
  margin-top: 20px;
}
.section-description .description-element p {
  font-size: 14px;
  font-family: "Open Sans";
  padding: 0 8px;
}

.subscribe {
  padding: 85px 16%;
  background-image: url("../image/tablet.jpg");
}
.subscribe input {
  width: 41%;
  padding: 15px;
  margin-left: 20%;
  margin-right: 30px;
  border: none;
  border-radius: 10px;
  outline: none;
}
.subscribe button {
  padding: 15px 7%;
  background: #f7600e;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 600;
}
.subscribe button {
  background: linear-gradient(135deg, #fff 50%, #f7600e 50%);
  position: relative;
}
.subscribe button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(135deg, #f7600e 50%, #fff 50%);
  z-index: -1;
}
.subscribe button,
.subscribe button:after {
  background-size: 300%;
  background-position: 100%;
  transition: 0.8s;
}
.subscribe button:hover,
.subscribe button:hover:after {
  background-position: 0;
  color: #f7600e;
}

.section-our-works {
  padding: 95px 20%;
}
.section-our-works .ourworks-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-our-works .ourworks-title .title-content {
  margin: 0;
  font-family: "Open Sans";
  font-size: 35px;
}
.section-our-works .ourworks-title .title-content span {
  font-family: "Open Sans";
  font-size: 35px;
  font-weight: 600;
  color: #f7600e;
}
.section-our-works .ourworks-content {
  text-align: center;
  padding: 0 25%;
}
.section-our-works .ourworks-content p {
  font-family: "Open Sans";
  font-size: 16px;
  margin-top: 20px;
}
.section-our-works .ourworks-image {
  margin-top: 90px;
}
.section-our-works .ourworks-image .image-group {
  display: flex;
  justify-content: space-around;
}
.section-our-works .ourworks-image .image-group .image-element {
  margin: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.section-our-works .ourworks-image .image-group .image-element .show-project {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #f7600e;
  opacity: 0.8;
  text-align: center;
  padding: 25% 10%;
  transform: translateY(100%);
  transition: 0.3s;
}
.section-our-works .ourworks-image .image-group .image-element .show-project .project-name {
  font-family: "Open Sans";
  font-size: 25px;
  color: white;
  font-weight: bold;
}
.section-our-works .ourworks-image .image-group .image-element .show-project p {
  font-family: "Open Sans";
  font-size: 14px;
  color: white;
  margin-top: 10px;
}
.section-our-works .ourworks-image .image-group .image-element .show-project button {
  color: #f7600e;
  background-color: white;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}
.section-our-works .ourworks-image .image-group .image-element .show-project button:hover {
  color: blue;
}
.section-our-works .ourworks-image .image-group .image-element:hover .show-project {
  transform: translateY(0);
}
.section-our-works .ourworks-more {
  text-align: center;
  margin-top: 100px;
}
.section-our-works .ourworks-more .more {
  padding: 15px 60px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  background: transparent;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
}
.section-our-works .ourworks-more .more:hover {
  background-color: gainsboro;
  opacity: 0.8;
}

.avatar {
  background-image: url("../image/women.jpg");
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}
.avatar .carousel-inner {
  padding: 0 22%;
}
.avatar .carousel-inner img {
  border-radius: 80px;
}
.avatar .carousel-inner p {
  font-family: "Open Sans";
  font-size: 25px;
  color: white;
  font-style: italic;
  margin-top: 50px;
  padding: 0 120px;
  line-height: 2;
  font-weight: 100;
  margin-bottom: 50px;
}
.avatar .carousel-inner span {
  font-family: "Open Sans";
  font-size: 18px;
  color: white;
  font-weight: 600;
}
.avatar .carousel-control-prev {
  left: 100px;
}
.avatar .carousel-control-next {
  right: 100px;
}

@media screen and (max-width: 1600px) {
  .section-our-team {
    padding: 95px 16% !important;
  }
}
.section-our-team {
  padding: 95px 18%;
  line-height: 2;
}
.section-our-team .ourteam-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-our-team .ourteam-title .title-content {
  margin: 0;
  font-family: "Open Sans";
  font-size: 35px;
}
.section-our-team .ourteam-title .title-content span {
  font-family: "Open Sans";
  font-size: 35px;
  font-weight: 600;
  color: #f7600e;
}
.section-our-team .ourteam-content {
  text-align: center;
  padding: 0 25%;
}
.section-our-team .ourteam-content p {
  font-family: "Open Sans";
  font-size: 16px;
  margin-top: 20px;
}
.section-our-team .ourteam-image .image-group {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}
.section-our-team .ourteam-image .image-group .image-group-element {
  cursor: pointer;
  text-align: center;
  list-style-type: none;
}
.section-our-team .ourteam-image .image-group .image-group-element:hover > img {
  animation: Scale 1s;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}
.section-our-team .ourteam-image .image-group .image-group-element > img {
  width: 200px;
  height: 250px;
  cursor: pointer;
  margin-bottom: 20px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.section-our-team .ourteam-image .image-group .image-group-element .ourteam-name {
  font-size: 25px;
  font-weight: 500;
  font-family: "Open Sans";
}
.section-our-team .ourteam-image .image-group .image-group-element .icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}
.section-our-team .ourteam-image .image-group .image-group-element .icon li {
  list-style-type: none;
}
.section-our-team .ourteam-image .image-group .image-group-element .icon li a {
  height: 100%;
  display: inline-block;
}
.section-our-team .ourteam-image .image-group .image-group-element .icon li a > img {
  width: 25px;
  margin: 0 5px;
}
.section-our-team .ourteam-image .image-group .image-group-element p {
  padding: 0 10%;
  font-size: 14px;
  font-family: "Open Sans";
  margin-top: 20px;
}

.section-hire-us {
  background-image: url("../image/background_hireus.jpg");
  background-size: cover;
  padding: 95px 20%;
  line-height: 2;
}
.section-hire-us .hireus-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-hire-us .hireus-title .title-content {
  margin: 0;
  font-family: "Open Sans";
  font-size: 35px;
  color: white;
}
.section-hire-us .hireus-title .title-content span {
  font-family: "Open Sans";
  font-size: 35px;
  font-weight: 600;
  color: #f7600e;
}
.section-hire-us .hireus-content {
  text-align: center;
  padding: 0 25%;
}
.section-hire-us .hireus-content p {
  font-family: "Open Sans";
  font-size: 16px;
  margin-top: 20px;
  color: white;
}
.section-hire-us .hireus-input {
  margin-top: 100px;
  text-align: center;
  padding: 0 10%;
}
.section-hire-us .hireus-input .group-input {
  display: flex;
  justify-content: space-between;
}
.section-hire-us .hireus-input .group-input > input {
  border-radius: 10px;
  border: none;
  outline: none;
}
.section-hire-us .hireus-input .group-input .mail {
  flex: 1;
  margin-right: 20px;
  padding: 8px 15px;
}
.section-hire-us .hireus-input .group-input .subject {
  flex: 1;
  padding: 8px 15px;
}
.section-hire-us .hireus-input .message {
  margin-top: 30px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 8px 15px;
}
.section-hire-us .hireus-input .hireus-input-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.section-hire-us .hireus-input .hireus-input-bottom button {
  padding: 7px 70px;
  background-color: #f7600e;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 500;
  cursor: pointer;
}
.section-hire-us .hireus-input .hireus-input-bottom button:hover {
  opacity: 0.8;
}
.section-hire-us .hireus-input .hireus-input-bottom .icon a {
  height: 100%;
  display: inline-block;
}
.section-hire-us .hireus-input .hireus-input-bottom .icon a img {
  margin: 0 5px;
  border-radius: 50px;
  cursor: pointer;
}
.section-hire-us .hireus-input .hireus-input-bottom .icon a:hover {
  opacity: 0.8;
}

.footer {
  background-color: #3b434c;
  padding: 50px 20%;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.footer .footer-content .copyright {
  font-size: 16px;
  font-family: "Open Sans";
}
.footer .footer-content span {
  font-size: 16px;
  font-family: "Open Sans";
}

@media screen and (min-width: 1025px) {
  .section-description {
    opacity: 0;
  }

  .fly {
    animation: Fly 1s;
    opacity: 1;
  }

  .section-our-works .ourworks-image {
    opacity: 0;
  }
  .section-our-works .animate {
    animation: Animate 1s;
    opacity: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-top-page {
    padding: 51px 10% 240px;
  }
  .section-top-page .toppage-content .title .title-content {
    font-size: 50px;
  }
  .section-top-page .toppage-content .title .title-content span {
    font-size: 50px;
  }
  .section-top-page .toppage-content .toppage-content-details {
    padding: 0 5%;
  }
  .section-top-page .toppage-content .toppage-content-details p {
    font-size: 16px;
  }
  .section-top-page .toppage-content .toppage-content-button .hire-us {
    padding: 19px 60px;
  }
  .section-top-page .toppage-content .toppage-content-button .our-works {
    padding: 19px 48px;
  }

  .section-description .description-element {
    margin: 0 15px;
  }

  .section-our-works {
    padding: 95px 16%;
  }
  .section-our-works .ourworks-content {
    padding: 0 10%;
  }
  .section-our-works .ourworks-image .image-group .image-element img {
    width: 150px;
    height: 200px;
  }
  .section-our-works .ourworks-image .image-group .image-element .show-project {
    padding: 0 10%;
  }
  .section-our-works .ourworks-image .image-group .image-element .show-project .project-name {
    font-size: 16px;
  }
  .section-our-works .ourworks-image .image-group .image-element .show-project p {
    margin: 0;
    font-size: 12px;
  }
  .section-our-works .ourworks-image .image-group .image-element .show-project button {
    padding: 0 20px;
    font-size: 12px;
  }

  .avatar .carousel-inner {
    padding: 0 12%;
  }
  .avatar .carousel-inner p {
    font-size: 16px;
  }
  .avatar .carousel-control-prev {
    left: 0;
  }
  .avatar .carousel-control-next {
    right: 0;
  }

  .section-our-team .ourteam-content {
    padding: 0 10%;
  }
  .section-our-team .ourteam-image .image-group {
    flex-wrap: wrap;
  }
  .section-our-team .ourteam-image .image-group .image-group-element {
    padding: 20px;
    margin: 10px 0;
    border-bottom: 1px solid gainsboro;
  }
  .section-our-team .ourteam-image .image-group .image-group-element .ourteam-name {
    font-size: 18px;
  }
  .section-our-team .ourteam-image .image-group .image-group-element p {
    padding: 0;
  }

  .section-hire-us {
    padding: 95px 10%;
  }
  .section-hire-us .hireus-content {
    padding: 0 10%;
  }
}
.footer .footer-content span {
  font-size: 12px;
}
.footer .footer-content .copyright {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .section-top-page {
    padding: 51px 5% 240px;
  }
  .section-top-page .toppage-content .title {
    padding-top: 50px 0;
  }
  .section-top-page .toppage-content .title .title-content {
    font-size: 30px;
  }
  .section-top-page .toppage-content .title .title-content span {
    font-size: 30px;
  }
  .section-top-page .toppage-content .toppage-content-details {
    padding: 0;
  }
  .section-top-page .toppage-content .toppage-content-details p {
    font-size: 14px;
  }
  .section-top-page .toppage-content .toppage-content-button {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    align-items: center;
  }
  .section-top-page .toppage-content .toppage-content-button .hire-us {
    padding: 19px 50px;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    margin-left: 10px;
  }
  .section-top-page .toppage-content .toppage-content-button .our-works {
    padding: 19px 30px;
  }

  .section-description {
    flex-direction: column;
  }
  .section-description .description-element p {
    font-size: 12px;
  }

  .subscribe {
    padding: 85px 10%;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .subscribe input {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  .section-our-works {
    padding: 95px 16%;
  }
  .section-our-works .ourworks-content {
    padding: 0;
  }
  .section-our-works .ourworks-content p {
    font-size: 12px;
  }
  .section-our-works .ourworks-image .image-group {
    flex-wrap: wrap;
  }
  .section-our-works .ourworks-image .image-group .image-element img {
    width: 200px;
    height: 250px;
  }

  .avatar .carousel-inner {
    padding: 0 12%;
  }
  .avatar .carousel-inner p {
    font-size: 12px;
    padding: 0 20px;
  }
  .avatar .carousel-control-prev {
    left: 0;
  }
  .avatar .carousel-control-next {
    right: 0;
  }

  .section-our-team {
    padding: 95px 10% !important;
  }
  .section-our-team .ourteam-title .title-content {
    font-size: 30px;
  }
  .section-our-team .ourteam-title .title-content span {
    font-size: 30px;
  }
  .section-our-team .ourteam-content {
    padding: 0 10%;
  }
  .section-our-team .ourteam-content p {
    font-size: 12px;
  }
  .section-our-team .ourteam-image .image-group {
    flex-wrap: wrap;
  }
  .section-our-team .ourteam-image .image-group .image-group-element {
    padding: 20px;
    margin: 10px 0;
    border-bottom: 1px solid gainsboro;
  }
  .section-our-team .ourteam-image .image-group .image-group-element p {
    font-size: 12px;
  }

  .section-hire-us {
    padding: 95px 10%;
  }
  .section-hire-us .hireus-title .title-content {
    font-size: 30px;
  }
  .section-hire-us .hireus-title .title-content span {
    font-size: 30px;
  }
  .section-hire-us .hireus-content {
    padding: 0 10%;
  }
  .section-hire-us .hireus-content p {
    font-size: 12px;
  }
  .section-hire-us .hireus-input {
    margin-top: 50px;
  }
  .section-hire-us .hireus-input .group-input {
    flex-direction: column;
  }
  .section-hire-us .hireus-input .group-input .mail {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .section-hire-us .hireus-input .group-input input {
    padding: 5px 15px;
  }
  .section-hire-us .hireus-input .hireus-input-bottom {
    flex-direction: column;
  }
  .section-hire-us .hireus-input .hireus-input-bottom .icon {
    margin-top: 15px;
  }
  .section-hire-us .hireus-input .hireus-input-bottom .icon a img {
    margin: 0 2px;
    width: 30px;
    height: 30px;
  }

  .footer {
    padding: 50px 5%;
  }
  .footer .footer-content span {
    font-size: 10px;
  }
  .footer .footer-content .copyright {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
